<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.waldirdev01.pollo2025">

    <!-- Permissões para localização -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:label="pollo2025"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:localeConfig="@xml/locales_config"
        android:requestLegacyExternalStorage="true"
        android:enableOnBackInvokedCallback="true">
    
        android:label="pollo2025"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:enableOnBackInvokedCallback="true"
        android:localeConfig="@xml/locales_config"

        <!-- Metadata para plugins Flutter -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Configuração da API Key do Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDx5UhmwF9g-mMHWN7tYyVsfECxftNhG6E" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Tema padrão inicial -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <!-- Permissão para visibilidade de pacotes (Android 11+) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>